li{
    list-style:none
}
ul{
    margin: 0;
    padding: 0;
}
p {
    font-size: 1.2em;
}
img{
    width: 100%;
}
span:nth-child(1){
    display: block;
    font-size: 1.5em;
    color: #428CF8;
    margin-left: 20px;
}
span:nth-child(2){
    display: block;
    font-size: 1em;
    color: #C2C2C2;
    margin-left: 20px;
}
.position{
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    background-color: #F5F5F5;
}
.down{
    position:absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%);
}
.circle {
    width: 150vh;
    height: 150vh;
    /*background: red;*/
    -moz-border-radius: 75vh;
    -webkit-border-radius: 75vh;
    border-radius: 75vh;
    position:absolute;
    bottom: -7%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: linear-gradient(45deg,#6beaf3,#428bf8,#24aadb,#27dbb1,#00b7ff,#6606ff);

}
.minCircle{
    background-color: rebeccapurple;
    width: 8vh;
    height: 8vh;
    -moz-border-radius: 4vh;
    -webkit-border-radius: 4vh;
    border-radius: 4vh;
    overflow: hidden;
}
.rectangle {
    width: 86vw;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 18px;
    padding: 20px;
}
.pictureBotton{
    display: flex;
    flex-wrap:wrap;
}
.minRectangleOne{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.minRectangleTwo{
    background-color: #FFFFFF;
    width: 50%;
    height: auto;
    overflow: hidden;
    padding-right: 8px;
    padding-bottom: 8px;
}
.minRectangleThree{
    background-color: #FFFFFF;
    width: 33.33%;
    height: auto;
    overflow: hidden;
    padding-right: 8px;
    padding-bottom: 8px;
}
.minRectangleFour{
    background-color: #FFFFFF;
    width: 25%;
    height: auto;
    overflow: hidden;
    padding-right: 8px;
}

.padding-botton10{
    padding-bottom: 10px;
}
.portait-center{
    display: flex;
    align-items: center;
}
